<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.windhoverlabs.e4.rcp.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.windhoverlabs.e4.rcp.commands.category"
            name="Add CFS XML..."
            id="com.windhoverlabs.e4.rcp.commands.sampleCommand">
      </command>
      <category
            id="com.windhoverlabs.e4.rcp.sampleNature.category"
            name="Sample Project Nature commands">
      </category>
      <command
            categoryId="com.windhoverlabs.e4.rcp.sampleNature.category"
            defaultHandler="com.windhoverlabs.e4.rcp.builder.AddRemoveSampleNatureHandler"
            id="com.windhoverlabs.e4.rcp.addRemoveSampleNature"
            name="Add/RemoveSample Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.windhoverlabs.e4.rcp.handlers.NewCFSHandler"
            commandId="com.windhoverlabs.e4.rcp.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.windhoverlabs.e4.rcp.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.windhoverlabs.e4.rcp.menus.sampleMenu"
               label="CFS Related"
               mnemonic="M">
            <command
                  commandId="com.windhoverlabs.e4.rcp.commands.sampleCommand"
                  id="com.windhoverlabs.e4.rcp.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.windhoverlabs.e4.rcp.toolbars.sampleToolbar">
            <command
                  id="com.windhoverlabs.e4.rcp.toolbars.sampleCommand"
                  commandId="com.windhoverlabs.e4.rcp.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Add CFS XML ...">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.windhoverlabs.e4.rcp.addRemoveSampleNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.windhoverlabs.e4.rcp.sampleNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.windhoverlabs.e4.rcp.addRemoveSampleNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.windhoverlabs.e4.rcp.sampleNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="com.windhoverlabs.e4.rcp.editors.CFSMultiPageEditor"
            name="CFS Multi-page Editor"
            icon="icons/sample.png"
            extensions="xml"
            class="com.windhoverlabs.e4.rcp.editors.CFSMultiPageEditor"
            contributorClass="com.windhoverlabs.e4.rcp.editors.CFSMultiPageEditorContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="New CFS Wizards"
            id="com.windhoverlabs.e4.rcp">
      </category>
      <wizard
            id="com.windhoverlabs.e4.rcp.wizards.CFSNewWizard"
            name="CFS Multi-page Editor file"
            icon="icons/sample.png"
            class="com.windhoverlabs.e4.rcp.wizards.CFSNewWizard"
            category="com.windhoverlabs.e4.rcp">
      </wizard>
      <Generic></Generic>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.windhoverlabs.e4.rcp.preferences.CFSPreferencePage"
            name="CFS"
            class="com.windhoverlabs.e4.rcp.preferences.CFSPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.windhoverlabs.e4.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
   	  <category
      		name="CFS Project"
      		id="com.windhoverlabs.e4.rcp.category.wizards">
      </category>
      <wizard
      		id="com.windhoverlabs.e4.rcp.wizard.new.cfsproject"
      		project="true"
      		name="CFS Project"
      		icon="icons/sample.png"
      		class="com.windhoverlabs.e4.rcp.wizards.CFSProjectNewWizard"
      		category="com.windhoverlabs.e4.rcp.category.wizards">
      		<description>
      			Create a New CFS Project and set some empty files
      		</description>
     		 <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <Generic></Generic>
   </extension>
   <extension
   		point="org.eclipse.ui.perspectiveExtensions">
   		<perspectiveExtension
   			targetID="org.eclipse.cdt.ui.CPerspective">
   			<newWizardShortcut id="com.windhoverlabs.e4.rcp.wizard.new.cfsproject"/>
   		</perspectiveExtension>
   	</extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.png"
            id="com.windloverlabs.e4.rcp.navigator"
            name="CFS Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.windloverlabs.e4.rcp.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.windloverlabs.e4.rcp.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="com.windhoverlabs.e4.rcp.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.windhoverlabs.e4.rcp.natures.ProjectNature">
         </run>
      </runtime>
   </extension>	
</plugin>
