<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- COMMAND EXTENSIONS -->
	<extension
		point="org.eclipse.ui.commands">
		<category
			id="com.windhoverlabs.cfside.commands.cfs"
			name="CFS Category">
		</category>
		<command
			categoryId="com.windhoverlabs.cfside.commands.cfs"
			name="Merge CFS File"
			id="com.windhoverlabs.cfside.commands.mergeCFSFile">
		</command>
		<command
			categoryId="com.windhoverlabs.cfside.commands.cfs"
			name="Add Message ID"
			id="com.windhoverlabs.cfside.commands.addMessageID">
		</command>
		<category
			id="com.windhoverlabs.cfside.cfsNature.category"
			name="CFS Project Nature commands">
		</category>
		<command
			categoryId="com.windhoverlabs.cfside.cfsNature.category"
			defaultHandler="com.windhoverlabs.cfside.builder.AddRemoveCFSNatureHandler"
			id="com.windhoverlabs.cfside.addRemoveCFSNature"
			name="Add/Remove CFS Project Nature">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
			<key
				commandId="com.windhoverlabs.cfside.commands.mergeCFSFile"
				schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
				contextId="org.eclipse.ui.contexts.window"
				sequence="M1+7">
			</key>
	</extension>

<!-- HANDLER EXTENSIONS -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.windhoverlabs.cfside.ui.handlers.MergeCFSFiles"
			commandId="com.windhoverlabs.cfside.commands.mergeCFSFile">
		</handler>
		<handler
			class="com.windhoverlabs.cfside.ui.handlers.AddMessageIDHandler"
			commandId="com.windhoverlabs.cfside.commands.addMessageID">
		</handler>
	</extension>
	
	

<!-- Nature EXTENSIONS -->
	<extension
        id="com.windhoverlabs.cfside.natures.projectNature"
        point="org.eclipse.core.resources.natures">
     	<runtime>
        	<run
            	class="com.windhoverlabs.cfside.natures.CFSProjectCoreNature">
         	</run>
      	</runtime>
   	</extension>	

<!-- MENU 

BUTION EXTENSIONS -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu
				id="com.windhoverlabs.cfside.ui.menus.cfsMenu"
				label="CFS Related"
				mnemonic="M">
				<command
					commandId="com.windhoverlabs.cfside.commands.mergeCFSFile"
					id="com.windhoverlabs.cfside.ui.menus.mergeCFSFile"
					mneomnic="S">
				</command>
				<command
					commandId="com.windhoverlabs.cfside.commands.addMessageID"
					id="com.windhoverlabs.cfside.ui.menus.addMessageID"
					mneomnic="A">
				</command>
			</menu>
		</menuContribution>
		
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="com.windhoverlabs.cfside.toolbars.cfsFileToolbar">
				<command
					id="com.windhoverlabs.cfside.toolbars.mergeCFSFile"
					commandId="com.windhoverlabs.cfside.commands.mergeCFSFile"
					tooltip="Add CFS XML...">
				</command>
				<command
					id="com.windhoverlabs.cfside.toolbars.addMessageID"
					commandId="com.windhoverlabs.cfside.commands.addMessageID"
					tooltip="Add Message ID...">
				</command>
			</toolbar>
		</menuContribution>
		
		<menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.windhoverlabs.cfside.addRemoveCFSNature"
               label="Disable CFS builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.windhoverlabs.cfside.natures.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.windhoverlabs.cfside.addRemoveCFSNature"
               label="Enable CFS builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.windhoverlabs.cfside.natures.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
  
	</extension>
	
<!-- Wizards EXTENSIONS -->
   	<extension
   		point="org.eclipse.ui.newWizards">
        <category
      		name="CFS Project"
      		id="com.windhoverlabs.cfside.ui.categories.wizards">
      	</category>
      	<wizard
      		id="com.windhoverlabs.cfside.ui.wizard.new.cfsproject"
      		project="true"
      		name="New CFS Project"
      		class="com.windhoverlabs.cfside.ui.wizards.CFSProjectNewWizard"
      		category="com.windhoverlabs.cfside.ui.categories.wizards">
      		<description>
      			Create a New CFS Project and set some empty files
      		</description>
     			<selection class="org.eclipse.core.resources.IResource"/>
      	</wizard>
   	</extension>

<!-- EDITOR EXTENSIONS -->
	<extension
		point="org.eclipse.ui.editors">
		<editor
			id="com.windhoverlabs.cfside.editors.CFSMultiPageEditor"
			name="CFS Multi-page Editor"
			extensions="xml"
			class="com.windhoverlabs.cfside.ui.editors.CFSMultiPageEditor"
			contributorClass="com.windhoverlabs.cfside.ui.editors.CFSMultiPageEditorContributor">
		</editor>
  <editor
        class="com.windhoverlabs.cfside.ui.composites.DisplayData"
        id="com.windhoverlabs.cfside.ui.composites.DisplayData"
        name="New MultiPageEditorPart">
  </editor>
	</extension>
	
<!-- PERSPECTIVE EXTENSIONS EXTENSIONS -->   
   	<extension
   		point="org.eclipse.ui.perspectiveExtensions">
   		<perspectiveExtension
   			targetID="org.eclipse.cdt.ui.CPerspective">
   			<newWizardShortcut id="com.windhoverlabs.cfside.ui.wizard.new.cfsproject"/>
   		</perspectiveExtension>
   	</extension>

<!-- PREFERENCE EXTENSIONS -->   	
   	<extension
        point="org.eclipse.ui.preferencePages">
      	<page
        	id="com.windhoverlabs.cfside.preferences.CFSPreferencePage"
            name="CFS"
            class="com.windhoverlabs.cfside.preferences.CFSPreferencePage">
      	</page>
   	</extension>

<!-- PREFERENCE INITIALIZER EXTENSIONS -->   
   	<extension
        point="org.eclipse.core.runtime.preferences">
      	<initializer
            class="com.windhoverlabs.cfside.preferences.PreferenceInitializer">
      	</initializer>
   	</extension>
   	
<!-- PERSPECTIVE EXTENSIONS -->
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="com.windhoverlabs.cfside.ui.perspectives.ConfigPerspective"
             id="com.windhoverlabs.cfside.configPerspective"
             name="ConfigPerspective">
       </perspective>
    </extension>

<!-- VIEW EXTENSIONS -->

	<extension
		point="org.eclipse.ui.views">
		<category
			id="com.windhoverlabs.cfside.viewCategory"
			name="com.windhoverlabs.cfside.viewCategory.ConfigTreeView">
		</category>
		<view
			category="com.windhoverlabs.cfside.viewCategory"
			class="com.windhoverlabs.cfside.ui.views.ProjectsTreeViewer"
			id="com.windhoverlabs.cfside.ui.views.projectTreeViewer"
			name="Project Viewer">
		</view>
		<view
			category="com.windhoverlabs.cfside.viewCategory"
			class="com.windhoverlabs.cfside.ui.views.FileMergeView"
			id="com.windhoverlabs.cfside.ui.views.fileMergeView"
			name="Merge File">
		</view>
		<view
			category="com.windhoverlabs.cfside.viewCategory"
			class="com.windhoverlabs.cfside.ui.views.ErrorViewer"
			id="com.windhoverlabs.cfside.ui.views.errorViewer"
			name="Problems">
		</view>
  <view
        class="org.eclipse.ui.navigator.CommonNavigator"
        icon="icons/sample.png"
        id="com.windhoverlabs.cfside.navigator"
        name="CFS Project Navigator">
  </view>
	</extension>


   	<extension
        point="org.eclipse.ui.navigator.viewer">
      	<viewerActionBinding
            viewerId="com.windhoverlabs.cfside.navigator">
        	<includes>
            	<actionExtension
                	pattern="org.eclipse.ui.navigator.resources.*">
            	</actionExtension>
         	</includes>
      	</viewerActionBinding>
      	<viewerContentBinding
        	viewerId="com.windhoverlabs.cfside.navigator">
         	<includes>
            	<contentExtension
                	pattern="org.eclipse.ui.navigator.resourceContent">
            	</contentExtension>
            	<contentExtension
                  	pattern="org.eclipse.ui.navigator.resources.filters.*">
            	</contentExtension>
            	<contentExtension
                  	pattern="org.eclipse.ui.navigator.resources.linkHelper">
            	</contentExtension>
            	<contentExtension
                  	pattern="org.eclipse.ui.navigator.resources.workingSets">
            	</contentExtension>
         	</includes>
      	</viewerContentBinding>
   	</extension>

   
   <!--	
   	<extension
   		point="org.eclipse.core.expressions.definitions">
   		<definition id="com.windhoverlabs.cfside.cnf.cfsFileSelected">
   			<with variable="fileSelection">
   				<iterate ifEmpty="false" operator="or">
   					<instanceof value="com.windhoverlabs.cfside.cnf.data.ConfigFile" />
   				</iterate>
   			</with>
   		</definition>
   	</extension>
   	-->
   	
   
</plugin>
